/secrets/strateos_secrets.json
/.pytest_cache/
/env/
/paml.egg-info/
/notebooks/.ipynb_checkpoints/*
**/__pycache__
notebooks/out
notebooks/cluster*
.vscode/launch.json
.vscode/settings.json
notebooks/test_LUDOX_markdown.md
.vscode/extensions.json
notebooks/df.csv
notebooks/igem_ludox_test_exec_data.nt
